{% extends 'base.html' %}

{% load static %}

{% block scripts %}
  <!-- defer parameter is used to delay js code until the page is completely loaded -->
  <script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}
posts
{% block title %}
{% endblock title %}

{% block content %}
  <div id="posts-box"></div>
  
  <div id="spinner-box" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="text-center mb-3" id="end-box">
    <button class="btn btn-primary" id="load-btn">Load more</button>
  </div>
{% endblock content %}