<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        td {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>Title</td>
            <td>Content</td>
            <td>Email</td>
            <td>CC</td>
        </tr>
        <tr>
            {% comment %} <td>{{ td }}</td>
            <td>{{ b }}</td>
            <td>{{ d }}</td>
            <td>{{ c }}</td> {% endcomment %}
            <td>{{ email_data.tieude }}</td>
            <td>{{ email_data.email }}</td>
            <td>{{ email_data.content }}</td>
            <td>{{ email_data.cc }}</td>
        </tr>
    </table>
</body>
</html>